extends layout

block content
    section.middleContent
       div.activityWrap
            h3 Step 2
            form.createForm.form-group.form-horizontal(method="post")
                div.form-group
                    label.col-sm-2.control-label Question 1
                    div.control.col-sm-10
                        input(type="text").form-control

                div.form-group
                    label.col-sm-2.control-label Question 2
                    div.control.col-sm-10
                         textarea.form-control

                div.form-group
                    label.col-sm-2.control-label Question 3
                    div.control.col-sm-10
                        textarea.form-control

                div.form-group.clearfix
                    button.btn.pull-left Next
                    button.btn.pull-left.btnCancel Cancel








