extends layout

block content
    section.middleContent
       h2.mainHeading Create KRA
       div.activityWrap
            h3 Step 1
            form.createForm.form-group(method="post" action="/createKra")
                div.form-group
                    label.control-label Name
                    div.control
                        input(type="text" name="name" ).form-control

                div.form-group
                    label.control-label Technology
                    div.control
                         select(name="technologies").form-control
                            option(value=1) PHP
                            option(value=2) Front End
                            option(value=3) ROR
                            option(value=4) BA

                div.form-group
                    label.control-label Grade
                    div.control
                        select(name="grades").form-control
                            option(value=1) Grade A
                            option(value=2) Grade B
                            option(value=3) Grade C
                            option(value=4) Grade D

                div.form-group.clearfix
                    button.btn.pull-right.btnCancel.btn-primary Cancel
                    button.btn.pull-right.btn-primary Next




