extends layout

block content
    section.middleContent
        h2.mainHeading Admin dashboard

        div.aprStart
           | Appraisal cycle : May-2014 to Dec-2014

        div.activityWrap
            h3 Activities
            ul.actvityList
                li
                   p
                    b Harshal
                    |  completed his
                    b  KRA
                    |  assessment for
                    b  Business Analyst Grade - A on 20/06/2014


                li
                   p
                   b Harshal
                   |  completed his
                   b  KRA
                   |  assessment for
                   b  Business Analyst Grade - A on 20/06/2014



