div.loginContainer
    div.loginFormContainer
        h3 Sign in to PMS
        form.loginForm.form-signin
            div.control
                input(type="text",placeholder="Username").form-control
            div.control
                input(type="text",placeholder="password").form-control
            label.checkBoxLabel
                input(type="checkbox" value="remember-me")
                | Remember me
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in

