border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments


.progressWrap
	height: 15px
	margin: 20px 0
	background: #fff
	border-radius(5px)

.progressBar
	background: #693
	height: 15px
	width: 15%
	border-radius(5px)

.quastionWrap
	height: 250px

.qustWrap
	border-radius(5px)
	background: #fff
	padding: 20px

.ansWrap input
	opacity: 0
	display: inline-block
	height: 23px
	width: 23px
	padding: 0
	margin: 0	


.radioWrap
	background: url(/images/radio.png) left top no-repeat


.radioWrap.checked 
	background-position: left -90px 
